# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist/
.build/
.eggs/
.python-version
.venv/
venv/

# IDE / tooling
.vscode/
.idea/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Env & logs
.env
.env.*
*.log

# Coverage
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db
